<div class = "ui-g-12" >
  <div class="ui-g-1" style="width:9.3333%">
     <label>Check Monitor Name</label>
   </div>
   <div class="ui-g-3">
     <input style="width:300px" name="monName" [(ngModel)]="item['name']" type="text"  pattern="[A-Za-z0-9_]+" required="true" pInputText />
   </div>

    <div class="ui-g-1">
     <label>Instance Name</label>
   </div>
   <div class="ui-g-3">
     <input style="width:300px" name="monName" [(ngModel)]="item['instance']" type="text"  pInputText />
   </div>
</div>

 <div class = "ui-g-12">
   <div class="ui-g-1 checkMon">
   <label>From Event</label>
</div>
<div class="ui-g-2" style="width:16%">
<p-dropdown name="fromEvent" [options]="executeTimeArr" (onChange)="fromEventDropDownChange(item)"  [(ngModel)]="item['fromEvent']" [style]="{'width': '70%'}"  appendTo="body"></p-dropdown>
</div>  

<div class="ui-g-1 checkMon">
  <label>Phase Name</label>
</div>
<div class="ui-g-2">
 <input name="phaseName" type="text"  pInputText [(ngModel)]="item['phaseName']"  [disabled]="item['fromEvent'] != 3" title="Please enter valid phase name. &#013;Phase name must start with Alpha.  &#013;Allowed characters are alpha, numeric and special characters (_ - : )"
    autofocus required pattern="^[a-zA-Z][a-zA-Z0-9_-]{0,31}$" required ngModel />
</div>

<div class="ui-g-1 checkMon" >
  <label>Frequency</label>
</div>
<div class="ui-g-2" style="width:16%">
  <p-dropdown  [disabled]="item['fromEvent'] == 'NA' || item['fromEvent'] == 1 || item['fromEvent'] == 90 "
   name="frequency" 
  [options]="freqArr" 
  title="Run Periodic - NetStorm will start the monitor periodically to get data. Never - NetStorm will start the monitor once at the start of Test Run."  [style]="{'width': '70%'}" 
  [(ngModel)]="item['frequency']" appendTo="body"></p-dropdown>
</div>
   
<div class="ui-g-1" style="width:12%">
  <label>Periodicity(HH:MM:SS)</label>
</div>   
<div class="ui-g-2" style="width: 13.6667%">
   <input [disabled]="item['fromEvent'] == 1 || item['fromEvent'] == 'NA' || item['fromEvent'] == 90 || item['frequency'] == 'NA' || item['frequency'] == 2" 
     name="periodicity" [(ngModel)]="item['periodicity']" type="text" pattern="^(2[0-3]|[01]?[0-9]):([0-5]?[0-9]):([0-5]?[0-9])$" title="Please enter periodicity in HH:MM:SS format. &#013;Periodicity should be in 24Hrs Format. &#013; Hours(HH) should be any number from 00 to 23. &#013; Minute(MM) and Second(SS) should be any number from 00 to 59." pInputText />
</div>
</div>


<div class = "ui-g-12" ng-disabled="true">
<div class="ui-g-1 checkMon">
    <label>End Event</label>
</div>
<div class="ui-g-2" style="width:16%">
   <p-dropdown name="endEvents" [options]="endEventArr"  [disabled]="item['fromEvent'] == 'NA' || item['fromEvent'] == 1 || item['frequency'] != 2 || item['fromEvent'] == 90" [(ngModel)]="item['endEvent']" [style]="{'width': '70%'}"  appendTo="body"></p-dropdown>
</div>

  <div class="ui-g-1 checkMon">
    <label *ngIf="item['endEvent']!= 3 " >Count</label>
    <label *ngIf="item['endEvent'] == 3 " >End Phase Name</label>
  </div>
  <div class="ui-g-2">
     <input style="width:150px" *ngIf="item['endEvent'] != 3" placeholder="NA" name="count" [disabled]="item['fromEvent'] == NA || item['fromEvent'] == 1 || item['frequency'] == 1 || item['endEvent'] == 'NA' ||item['endEvent'] == 1 || item['fromEvent'] == 90 || item['frequency'] == 'NA' || item['endEvent'] == 'NA'" 
         [(ngModel)]="item['count']" type="number" min="1"  title="Please enter valid count value. &#013; Max count value must be a numeral. &#013; Max count value should be greater than zero." pInputText />

     <input style="width:150px" *ngIf="item['endEvent'] == 3"   [(ngModel)]="item['endPhaseName']" type="text" pInputText />
   </div>

  <div class="ui-g-1" style="width: 12.3333%">
    <label>Check Monitor Program Name</label>
  </div>
  <div class="ui-g-2">
     <input style="width:350px" [(ngModel)]="item['checkMonProgName']" type="text" required="true" pInputText />
  </div>

</div>