
<p-dialog class="profile-dialog monitor-dialog" [(visible)]="displayDialog" header="Health Check Monitor Configurations" width="1000"
        [modal]="false" (onHide)="dialogCloseEvent($event)">

  <div class = "ui-g-12">
    <p-accordion class="monitor-ui-accordion">
      <p-accordionTab header="Configure Health Check Monitor">
        <!--<form  (ngSubmit)="saveData()" #form="ngForm" ngNativeValidate >-->
        <p-fieldset  legend="Ping Global Settings" [toggleable]="true" collapsed="true">
          <div class= "ui-g-12">
            <div class="ui-g-1">
                <label>Packet </label>
            </div>
            <div class ="ui-g-3">
               <input name="pckt" type="number"  pInputText [(ngModel)]="heathCheckMonData.globalPacket" autofocus  required ngModel />
            </div>

            <div class = "ui-g-1">
              <label>Interval</label>
            </div>
            <div class ="ui-g-3">
              <input name="interval" type="number"  pInputText [(ngModel)]="heathCheckMonData.globalInterval" ngModel />
           </div>
          </div>
        </p-fieldset>
           
        <p-fieldset  class = "healthChkMonCss" legend="Socket Global Settings" [toggleable]="true" collapsed="true">
          <div class = "ui-g-12">
            <div class="ui-g-1">
               <label>Thread Pool</label>
            </div>

            <div class = "ui-g-3">
               <input name="threadPool" type="number"  pInputText [(ngModel)]="heathCheckMonData.globalThreadPool"  ngModel />
             </div>

            <div class = "ui-g-1" style="width:14.3333%">
              <label>Connection Time Out</label>
            </div>
            <div class ="ui-g-3">
              <input name="connectionTimeOut" type="number"  pInputText [(ngModel)]="heathCheckMonData.globalTimeOut" ngModel />
            </div>
          </div>    
        </p-fieldset>

        <p-fieldset class = "healthChkMonCss" legend="HTTP Global Settings" [toggleable]="true" collapsed="true">
          <div class= "ui-g-12">
            <div class="ui-g-1">
               <label>Proxy URL </label>
            </div>
                <div class ="ui-g-3">
                  <input name="url" type="text"  pInputText [(ngModel)]="heathCheckMonData.globalProxyUrl" 
                    required ngModel />
                </div>
 
                <div class = "ui-g-1">
                  <label>User Name</label>
                </div>
                <div class ="ui-g-3">
                   <input name="user" type="text"  pInputText [(ngModel)]="heathCheckMonData.globalUserName" 
                   autofocus required pattern="^[a-zA-Z][a-zA-Z0-9_-]{0,31}$" required ngModel />
                </div>
 
                 <div class = "ui-g-1">
                  <label>Password</label>
                </div>
                <div class ="ui-g-3">
                   <input name="passwrd" type="password"  pInputText [(ngModel)]="heathCheckMonData.gloabalPwd" 
                    required ngModel />
                </div>
   
                <div class = "ui-g-1">
                  <label>Thread Pool</label>
                </div>
                <div class ="ui-g-3">
                   <input name="threadPool" type="number"  pInputText [(ngModel)]="heathCheckMonData.gloabalThrdPool"
                    ngModel />
                </div>
 
                 <div class = "ui-g-1">
                  <label>Status Code</label>
                </div>
                <div class ="ui-g-3">
                   <input name="statusCode" type="text"  pInputText 
                   [(ngModel)]="heathCheckMonData.globalStatusCode" 
                    ngModel />
                </div>
<!-- 
                <div class = "ui-g-1">
                    <label>Instance</label>
                  </div>
                  <div class ="ui-g-3">
                     <input name="inst" type="text"  pInputText [(ngModel)]="heathCheckMonData.instanceName"
                       ngModel />
                  </div> -->

              </div>
          </p-fieldset>
           
        <form  (ngSubmit)="saveData()" #form="ngForm" ngNativeValidate >
          <p-fieldset  class = "healthChkMonCss"  legend="Configuration" [toggleable]="true" collapsed="true">
            <div class = "ui-g-12">
             <div class = "ui-g-2">
              <p-radioButton  name = "tier" label = "Select Tier" 
                 value ="topology" [(ngModel)]="heathCheckMonData.tierServerType">
              </p-radioButton>
              </div>

            <div class ="ui-g-3"  style="margin-left: -57px">
              <p-dropdown [style]="{'width':'150px'}" name="list" required
                [disabled]="heathCheckMonData.tierServerType == 'custom' || heathCheckMonData.tierServerType == ''" (onChange) = "onTierChange(heathCheckMonData.tierName)"
                 [options]="tierList" placeholder= "--Select Tier--" [(ngModel)]="heathCheckMonData.tierName" >
              </p-dropdown>
            </div>

          <div class = "ui-g-2" >
            <label>
              Select Server
            </label>  
          </div>
          <div class ="ui-g-3">
           <p-dropdown [style]="{'width':'150px'}" name="lists" required
              [disabled]="heathCheckMonData.tierServerType == 'custom' || heathCheckMonData.tierName == ''" placeholder= "-- Select Server--"  [options]="serverList" [(ngModel)]="heathCheckMonData.serverName" >
            </p-dropdown>
          </div>
        </div>

            <div class = "ui-g-12">
               <div class = "ui-g-2" >
                  <p-radioButton  name = "tier" value ="custom" 
                     [(ngModel)]="heathCheckMonData.tierServerType">
                 </p-radioButton>
                 <label>Tier Name</label>
               </div>
               <div class ="ui-g-3" style="margin-left: -57px">
                  <input name="tierName" type="text" [disabled]="heathCheckMonData.tierServerType != 'custom'"  pInputText [(ngModel)]="heathCheckMonData.customTierName"  required ngModel />
               </div>

                <div class = "ui-g-2">
                 <label>Server Name</label>
               </div>
               <div class ="ui-g-3">
                  <input name="serverName" type="text" [disabled]="heathCheckMonData.tierServerType == ''" pInputText [(ngModel)]="heathCheckMonData.customServerName"   ngModel />
               </div>
           </div>

           <div class = "ui-g-12">
             <div class = "ui-g-2">
              <p-checkbox [(ngModel)]="heathCheckMonData.enableTier"  name="eanbleTier" binary=true label="Enable Tier" ></p-checkbox>
             </div>


             <div class = "ui-g-2" style="margin-left: 11px">
              <p-checkbox [(ngModel)]="heathCheckMonData.enableServer"  name="enableServer" binary=true  label="Enable Server" ></p-checkbox>
            </div>

           <div class = "ui-g-2" style="margin-left: 8px">
              <label>
                  Health Check Type
              </label>
           </div>
           
           <div class = "ui-g-3">
                <p-dropdown name="healthChkList"  [style]="{'width':'120px'}"
                  [options]="healthCheckList" [(ngModel)]="heathCheckMonData.healthCheckType" >
                 </p-dropdown>
            </div>
          </div>

           <div class = "ui-g-12">
              <p-accordion class="monitor-ui-accordion">
                  <p-accordionTab header="Advance Settings">
                   <div class = "ui-g-12" style= "border: 1px solid" [hidden]='heathCheckMonData.healthCheckType != "Ping"'>
                     <div class="ui-g-1">
                       <label>Packet</label>
                     </div>
                   <div class = "ui-g-3">
                     <input name="packet" type="number"  pInputText [(ngModel)]="heathCheckMonData.packet"  required ngModel />
                   </div>

                   <div class = "ui-g-1">
                      <label>Host</label>
                    </div>
                  <div class ="ui-g-3">
                    <input name="host" type="text"  pInputText [(ngModel)]="heathCheckMonData.hostName"  ngModel />
                  </div>

                     <div class = "ui-g-1">
                       <label>Interval</label>
                     </div>
                   <div class ="ui-g-3">
                     <input name="interval" type="number"  pInputText [(ngModel)]="heathCheckMonData.interval"  ngModel />
                   </div>
                   
               </div>    
               
               <div class = "ui-g-12" style= "border: 1px solid" [hidden]='heathCheckMonData.healthCheckType != "Socket"'>
                  <div class="ui-g-1">
                    <label>Thread Pool</label>
                  </div>
                <div class = "ui-g-3">
                  <input name="threadPool" type="number"  pInputText [(ngModel)]="heathCheckMonData.threadPool"  ngModel />
                </div>

                <div class = "ui-g-1">
                    <label>Host</label>
                  </div>
                  <div class ="ui-g-3">
                     <input name="host" type="text"  pInputText [(ngModel)]="heathCheckMonData.hostName"
                       ngModel />
                  </div>

                  <div class = "ui-g-1">
                      <label>Port</label>
                    </div>
                    <div class ="ui-g-3">
                       <input name="port" type="number"  pInputText [(ngModel)]="heathCheckMonData.port"
                         ngModel />
                    </div>
                
                <div class = "ui-g-1">
                    <label>Instance</label>
                  </div>
                  <div class ="ui-g-3">
                     <input name="inst" type="text"  pInputText [(ngModel)]="heathCheckMonData.instanceName"
                       ngModel />
                  </div>

                  <div class = "ui-g-1">
                    <label>Time Out</label>
                  </div>
                <div class ="ui-g-3">
                  <input name="connectionTimeOut" type="number"  pInputText [(ngModel)]="heathCheckMonData.timeOut" 
                  ngModel />
                </div>

       
  
            </div>     

            <div class= "ui-g-12" style= "border: 1px solid" [hidden]='heathCheckMonData.healthCheckType != "HTTP"'>
                <div class="ui-g-1">
                   <label>Proxy URL </label>
                </div>
                <div class ="ui-g-3">
                  <input name="url" type="text"  pInputText [(ngModel)]="heathCheckMonData.proxyUrl"  required ngModel />
                </div>
 
                <div class = "ui-g-1">
                  <label>User Name</label>
                </div>
                <div class ="ui-g-3">
                   <input name="user" type="text"  pInputText [(ngModel)]="heathCheckMonData.userName" 
                    required pattern="^[a-zA-Z][a-zA-Z0-9_-]{0,31}$" required ngModel />
                </div>
 
                 <div class = "ui-g-1">
                  <label>Password</label>
                </div>
                <div class ="ui-g-3">
                   <input name="passwrd" type="password"
                    pInputText [(ngModel)]="heathCheckMonData.pwd" 
                     ngModel />
                </div>
   
                <div class = "ui-g-1">
                  <label>Thread Pool</label>
                </div>
                <div class ="ui-g-3">
                   <input name="threadPool" type="number"  pInputText [(ngModel)]="heathCheckMonData.threadPool"
                    ngModel />
                </div>

                <div class = "ui-g-1">
                    <label>Status Code</label>
                  </div>
                  <div class ="ui-g-3">
                     <input name="statusCode" type="text"  pInputText title="Comma separated values other than 200 status code"
                     [(ngModel)]="heathCheckMonData.statusCode" ngModel />
                  </div>
 
              </div>
   
            </p-accordionTab>       
          </p-accordion>   
        </div>
        </p-fieldset>
          
            <div class="ui-g-12" style="margin-top: 7px">
              <button type="submit" pButton icon="fa-check" style="width: 63px ; float: right" label="Add"></button>
            </div>
          </form>
          </p-accordionTab>
        </p-accordion>

      <p-accordion class="monitor-ui-accordion">
       <p-accordionTab header="Health Check Configuration Data">
         <p-treeTable  class = "healthChk-treeTable" [value]="heathCheckMonitorData"  selectionMode="single">
           <p-column field="nodeName" header="Name"></p-column>
           <p-column field="arguments" header="Arguments">
              <template  let-data="rowData" pTemplate>
                  <p-checkbox [(ngModel)]="heathCheckMonData.enableServer"  binary="false"></p-checkbox>
                </template>
           </p-column>
        </p-treeTable>
      </p-accordionTab>
  </p-accordion>
</div>


  <div class="ui-g-12">
    <button type="button" pButton  icon="fa-check" style="float: right" (click)= "finalSubmit()" title="Done" label="Done"></button>
    <button type="button" pButton  icon="fa-close" style="float: right" (click)= "dialogCloseEvent()" label="Cancel" title="Close"></button>
  </div>
</p-dialog>