
<p-dialog class="profile-dialog monitor-dialog" [(visible)]="displayDialog" header="Health Check Monitor Configurations" width="1000"
        [modal]="false" (onHide)="dialogCloseEvent($event)">

     <div class = "ui-g-12">
        <p-accordion class="monitor-ui-accordion">
          <p-accordionTab header="Configure Health Check Monitor">
           <p-fieldset  legend="Advance Settings" [toggleable]="true" collapsed="true">

             <div class= "ui-g-12">
               <div class="ui-g-1">
                  <label>Packet </label>
               </div>
               <div class ="ui-g-3">
               <input name="packet" type="text"  pInputText [(ngModel)]="heathCheckMonData.packet" title="Please enter valid monitor group name. &#013;Monitor group name is of maximum 32 characters.  &#013;First character must be Alpha.  &#013;Other characters are Alpha, Numeric, Dash or Underscore"
                        autofocus required pattern="^[a-zA-Z][a-zA-Z0-9_-]{0,31}$" required ngModel />
               </div>

               <div class = "ui-g-1">
                 <label>Interval</label>
               </div>
               <div class ="ui-g-3">
                  <input name="interval" type="text"  pInputText [(ngModel)]="heathCheckMonData.interval" title="Please enter valid monitor group name. &#013;Monitor group name is of maximum 32 characters.  &#013;First character must be Alpha.  &#013;Other characters are Alpha, Numeric, Dash or Underscore"
                  autofocus required required ngModel />
               </div>
             </div>

             <div class= "ui-g-12">
               <div class="ui-g-1">
                  <label>Proxy URL </label>
               </div>
               <div class ="ui-g-3">
               <input name="url" type="text"  pInputText [(ngModel)]="heathCheckMonData.proxyUrl"  required ngModel />
               </div>

               <div class = "ui-g-1">
                 <label>User Name</label>
               </div>
               <div class ="ui-g-3">
                  <input name="interval" type="text"  pInputText [(ngModel)]="heathCheckMonData.userName" title="Please enter valid monitor group name. &#013;Monitor group name is of maximum 32 characters.  &#013;First character must be Alpha.  &#013;Other characters are Alpha, Numeric, Dash or Underscore"
                  autofocus required pattern="^[a-zA-Z][a-zA-Z0-9_-]{0,31}$" required ngModel />
               </div>

                <div class = "ui-g-1">
                 <label>Password</label>
               </div>
               <div class ="ui-g-3">
                  <input name="pwd" type="paqssword"  pInputText [(ngModel)]="heathCheckMonData.pwd" title="Please enter valid monitor group name. &#013;Monitor group name is of maximum 32 characters.  &#013;First character must be Alpha.  &#013;Other characters are Alpha, Numeric, Dash or Underscore"
                  autofocus required pattern="^[a-zA-Z][a-zA-Z0-9_-]{0,31}$" required ngModel />
               </div>
             </div>
  
             <div class="ui-g-12">
               <div class = "ui-g-1">
                 <label>Number of  Threads</label>
               </div>
               <div class ="ui-g-3">
                  <input name="threadPool" type="number"  pInputText [(ngModel)]="heathCheckMonData.threadPool" title="Please enter valid monitor group name. &#013;Monitor group name is of maximum 32 characters.  &#013;First character must be Alpha.  &#013;Other characters are Alpha, Numeric, Dash or Underscore"
                  autofocus required pattern="^[a-zA-Z][a-zA-Z0-9_-]{0,31}$" required ngModel />
               </div>

                <div class = "ui-g-1">
                 <label>Status Code</label>
               </div>
               <div class ="ui-g-3">
                  <input name="statusCode" type="text"  pInputText [(ngModel)]="heathCheckMonData.statusCode" required ngModel />
               </div>
             </div>


             <div class = "ui-g-12">
                <div class = "ui-g-1">
                 <label>Number of  Threads</label>
               </div>
               <div class ="ui-g-3">
                  <input name="threadPool" type="number"  pInputText [(ngModel)]="heathCheckMonData.threadPool" title="Please enter valid monitor group name. &#013;Monitor group name is of maximum 32 characters.  &#013;First character must be Alpha.  &#013;Other characters are Alpha, Numeric, Dash or Underscore"
                  autofocus required pattern="^[a-zA-Z][a-zA-Z0-9_-]{0,31}$" required ngModel />
               </div>

               <div class = "ui-g-1">
                 <label>Connection TimeOut</label>
               </div>
               <div class ="ui-g-3">
                  <input name="connectionTimeOut" type="number"  pInputText [(ngModel)]="heathCheckMonData.timeOut"  required ngModel />
               </div>
             </div>


           </p-fieldset>
           
          <p-fieldset  class = "healthChkMonCss"  legend="Configuration" [toggleable]="true" collapsed="true">
            <div class = "ui-g-12">
             <div class = "ui-g-3">
              <p-radioButton  name = "tier"   [disabled]="disabled" 
                label = "Select Tier and Server " value ="topology" [(ngModel)]="heathCheckMonData.tierServerType">
              </p-radioButton>
              </div>
<!-- 
            <div class="ui-g-1">
            </div> -->

            <div class ="ui-g-3">
              <p-dropdown [style]="{'width':'150px'}" name="list" required
                [disabled]="tier != 'topoTier'" onChange="onTierChange()" [options]="tierList" [(ngModel)]="heathCheckMonData.tierName" >
              </p-dropdown>
            </div>
<!-- 
           <div class="ui-g-1">
           </div>
    -->
          <div class = "ui-g-3">
           <p-dropdown [style]="{'width':'150px'}" name="list" required
              [disabled]="tier != 'topoTier'" placeholder= "-- Select Server--"  [options]="serverList" [(ngModel)]="heathCheckMonData.serverName" >
            </p-dropdown>
          </div>
        </div>

            <div class = "ui-g-12">
              <!-- <div class = "ui-g-3"> 
               <p-radioButton  name = "tier"   
                label = "" value ="custom" [(ngModel)]="heathCheckMonData.tierServerType">
               </p-radioButton>
              </div> -->

               <div class = "ui-g-1" style="width: 9.3333%">
                  <p-radioButton  name = "tier" value ="custom" 
                     [(ngModel)]="heathCheckMonData.tierServerType">
                 </p-radioButton>
                 <label>Tier Name</label>
               </div>
               <div class ="ui-g-3">
                  <input name="tierName" type="text" [disabled]="heathCheckMonData.tierServerType != 'custom'"  pInputText [(ngModel)]="heathCheckMonData.tierName"  required ngModel />
               </div>

                <div class = "ui-g-1">
                 <label>Server Name</label>
               </div>
               <div class ="ui-g-3">
                  <input name="serverName" type="text" [disabled]="heathCheckMonData.tierServerType != 'custom'" pInputText [(ngModel)]="heathCheckMonData.serverName"  required ngModel />
               </div>
           </div>

          </p-fieldset>
          </p-accordionTab>
        </p-accordion>

      <p-accordion class="monitor-ui-accordion">
       <p-accordionTab header="Health Check Configuration data">

       <p-treeTable class="mon-ui configTreeTable" selectionMode="single"  [(selection)]="selectedFile" (onNodeExpand)="loadNode($event)" [value]="heathCheckMonitorData" [style]="{'max-height':'530px', 'overflow':'auto'}">
  
        <p-column [style]="{'width':'380px'}" class="col-overflow" field="nodeName" header="Nodes" [sortable]="true" [filter]="isShowFilter">
          <template let-col let-json="rowData" pTemplate type="body">
            <span title="{{json[col.field]}}">{{json[col.field]}}</span>
          </template>
        </p-column>
    
  
        <p-column [style]="{'width':'380px'}" class="col-overflow" field="arguments" header="Arguments" [sortable]="true" [filter]="isShowFilter">
          <template let-col let-json="rowData" pTemplate type="body">
            <span title="{{json[col.field]}}">{{json[col.field]}}</span>
          </template>
        </p-column>
    
     </p-treeTable>
                              
    </p-accordionTab>
  </p-accordion>
</div>


  <div class="ui-g-12">
    <button type="button" pButton  icon="fa-check" style="float: right" (click)= "addMonitor()" title="Done" label="Done"></button>
    <button type="button" pButton  icon="fa-close" style="float: right" (click)= "dialogCloseEvent()" label="Cancel" title="Close"></button>
  </div>

</p-dialog>