<p-dialog class="profile-dialog monitor-dialog" [(visible)]="displayDialog"  header="Health Check Monitor Configurations" width="1000"  
   [modal]="false" (onHide)="dialogCloseEvent($event)" [resizable]="true" [responsive]="true">
   <div class = "ui-g-12">
      <p-checkbox [(ngModel)]="heathCheckMonData.enableHealthCheckMon" name="enableChkMon" binary=true label="Enable Health Check Monitor" ></p-checkbox>
   </div>

<div class = "ui-g-12">
  <p-accordion class="monitor-ui-accordion">
   <p-accordionTab header="Global Settings">
    <p-fieldset  class ="healthChkMonCss" legend="Ping Health Check Settings" [toggleable]="true" collapsed="true">
      <div class= "ui-g-12">
        <div class="ui-g-2">
          <label>Packet Count</label>
       </div>
       <div class ="ui-g-2" style="margin-left: -44px">
         <input name="pckt" style="width: 80%;" type="number" pInputText [(ngModel)]="globalProps.pingPkt" ngModel />
       </div>

      <div class = "ui-g-2">
        <label>Wait Interval</label>
      </div>
      <div class ="ui-g-2" style="margin-left: -44px">
        <input name="intvrl" style="width: 80%;" type="number"  pInputText [(ngModel)]="globalProps.pingIntrvl" ngModel />
        <span style="margin-left: -1px">
            (sec)
        </span>
      </div>

      <div class="ui-g-2"  style="margin-left: 21px;">
        <label>Thread Pool Size</label>
      </div>
      <div class = "ui-g-2">
         <input name="tpSize" style="width: 80%;" type="number"  pInputText [(ngModel)]="globalProps.pingTP"  ngModel />
       </div>
     </div>
  </p-fieldset>

<p-fieldset  class = "healthChkMonCss" legend="HTTP  Health Check Settings" [toggleable]="true" collapsed="true">
  <div class = "ui-g-12">
    <div class = "ui-g-2">
       <p-checkbox [(ngModel)]="heathCheckMonData.useProxy"  name="proxy" binary=true label="Use Proxy" ></p-checkbox>
     </div>
   </div>

  <div class= "ui-g-12" style=" margin-left: 13px">
    <div class= "ui-g-12">
      <div class="ui-g-2">
         <label>Proxy Host:Port </label>
     </div>
     <div class ="ui-g-2" style="margin-left: -47px">
       <input name="globalUrl" type="text" [disabled]="!heathCheckMonData.useProxy"  
          pInputText [(ngModel)]="globalProps.httpUrl"  required ngModel />
     </div>

    <div class = "ui-g-2" style="margin-left: 46px;">
        <label>User Name</label>
    </div>
    <div class ="ui-g-2" style="margin-left: -61px">
         <input name="globalUser" type="text"  [disabled]="!heathCheckMonData.useProxy" 
           pInputText [(ngModel)]="globalProps.httpUser" 
         autofocus required pattern="^[a-zA-Z][a-zA-Z0-9_-]{0,31}$" required ngModel />
    </div>

      <div class = "ui-g-2"  style="margin-left: 46px;">
          <label>Password</label>
        </div>
        <div class ="ui-g-2" style="margin-left: -61px">
           <input name="globalpasswrd" type="password"  [disabled]="!heathCheckMonData.useProxy"
               pInputText [(ngModel)]="globalProps.httpPwd">
        </div>
    </div>
  </div>

  <div class= "ui-g-12">
      <div class = "ui-g-2">
        <label>Connection Time Out</label>
      </div>
      <div class ="ui-g-2" style="margin-left: -31px">
        <input name="timeOut" type="number" style="width: 77%" pInputText [(ngModel)]="globalProps.httpCTO" ngModel/>
        <span>
            (sec)
        </span>
      </div>

            
      <div class = "ui-g-2" style = "margin-left: 9px">
          <label>Response Time Out </label>
        </div>
        <div class ="ui-g-2" >
            <input name="resTimeOut" type="number" style="width: 70% ; margin-left: -28px" pInputText [(ngModel)]="globalProps.httpRTO" ngModel/>
            <span>
                (sec)
            </span>
        </div>

        <div class="ui-g-2" style="margin-left: -11px">
            <label>Thread Pool Size</label>
          </div>
          <div class = "ui-g-2" style="margin-left: -34px">
             <input name="threadPool"  style="width: 70%"  type="number"  pInputText [(ngModel)]="globalProps.httpTP"  ngModel />
           </div>
    </div>
  
  <div class= "ui-g-12" style="margin-left: 5px">
        <label>Status Code for successful health check</label>
    <span>
      <input name="globalStatusCode" style="margin-left: 29px" type="text"  pInputText  title="Comma separated list of status code"  [(ngModel)]="globalProps.httpSc"  ngModel />
    </span>
  </div>

</p-fieldset>

<p-fieldset class = "healthChkMonCss" legend="Socket Health Check Settings" [toggleable]="true" collapsed="true">
  <div class = "ui-g-12">
    <div class = "ui-g-1" style="width:14.3333%">
      <label>Connection Time Out</label>
     </div>
     <div class ="ui-g-3">
       <input name="socketCTO" type="number" min="0"  pInputText [(ngModel)]="globalProps.sockeTo" ngModel /> 
       <span>
          (sec)
      </span>
    </div>
  </div>    
</p-fieldset>
</p-accordionTab>
</p-accordion>

<p-accordion class="monitor-ui-accordion" >
<p-accordionTab header="Health Check Configuration Data" [selected]= "true">
  <form  (ngSubmit)="saveData()" #form="ngForm" ngNativeValidate >
    <p-fieldset  class = "healthChkMonCss"  legend="Configuration" [toggleable]="true"  [collapsed] = "false">
      <div class = "ui-g-12" style="margin-top: 6px">
      <div class = "ui-g-12">
       <div class = "ui-g-1">
         <label>
           Tier
         </label>  
      </div>
      
     <div class ="ui-g-2" >
       <p-dropdown [style]="{'width':'120px'}" name="list" required
           [disabled] = "editMode"
          (onChange) = "onTierChange(heathCheckMonData.tierName)"
            [options]="tierList" placeholder= "--Select Tier--" [(ngModel)]="heathCheckMonData.tierName" >
       </p-dropdown>
     </div>
          
    <!-- <div class ="ui-g-2" style="width: 10%; margin-left: -26px" [hidden] ="heathCheckMonData.tierName != 'Others'">
      <label>
        Tier Name
      </label>
    </div> -->
    <div class ="ui-g-2" >
         <input name="tierName" [disabled]="heathCheckMonData.tierName != 'Others'||editMode" type="text" pInputText [(ngModel)]="heathCheckMonData.customTierName" title="Enter tier name" required ngModel />
    </div>
       


    <div class = "ui-g-1" style="margin-left: 73px">
      <label>
        Server
      </label>  
    </div>
    
     <div class ="ui-g-2" >
        <p-dropdown [style]="{'width':'120px'}" name="lists" required
            [disabled]="heathCheckMonData.tierName == '' ||heathCheckMonData.tierName == 'Others'||editMode" placeholder= "-- Select Server--"  [options]="serverList" [(ngModel)]="heathCheckMonData.serverName" >
          </p-dropdown>
      </div>

      <div class ="ui-g-2">
          <input name="serverName" type="text" [disabled]="heathCheckMonData.tierName != 'Others' ||editMode"
           pInputText [(ngModel)]="heathCheckMonData.customServerName"  title = "Enter server name" ngModel />
      </div>
</div>

<!-- 
 <div class = "ui-g-12">
    <div class ="ui-g-2">
      <label>
        Enter Tier Name
      </label>
    </div>
    <div class ="ui-g-3" >
         <input name="tierName" type="text" [disabled]="heathCheckMonData.tierName != 'Others'"
          pInputText [(ngModel)]="heathCheckMonData.customTierName" title="Enter tier name" required ngModel />
    </div>

      <div class ="ui-g-2">
        <label>
          Enter Server Name
        </label>
      </div>
        <div class ="ui-g-3">
          <input name="serverName" type="text" [disabled]="heathCheckMonData.tierName != 'Others'"
           pInputText [(ngModel)]="heathCheckMonData.customServerName"  title = "Enter server name" ngModel />
        </div>

  </div>  -->
    
   <div class = "ui-g-12">
       <div class = "ui-g-2">
           <label>
             Health Check Type
           </label>
       </div>

       
             <div class = "ui-g-3" style="margin-left: -38px">
                  <p-dropdown name="healthChkList"  [style]="{'width':'120px'}"
                    [disabled]="editMode"
                    [options]="healthCheckList" [(ngModel)]="heathCheckMonData.healthCheckType" >
                   </p-dropdown>
              </div>
   </div>
   <div class = "ui-g-12">
    <div class = "ui-g-2">
        <label>Host</label>
     </div>
       <div class ="ui-g-3" style="margin-left: -82px"> 
         <input name="host" type="text"  pInputText [(ngModel)]="heathCheckMonData.host"  autofocus required ngModel />
     </div>


    <div class = "ui-g-2">
          <label>Port</label>
    </div>
    <div class = "ui-g-3" style="margin-left: -68px" >
         <input name="port" type="text" [disabled]="heathCheckMonData.healthCheckType == 'Ping' "
         autofocus required pInputText [(ngModel)]="heathCheckMonData.port" ngModel />
    </div>
 </div>

 <div class = "ui-g-12">
    <div class = "ui-g-2">
        <label>URL</label>
     </div>
       <div class ="ui-g-3" style="margin-left: -82px" > 
         <input name="url" type="text" [disabled]="heathCheckMonData.healthCheckType != 'HTTP' " 
          autofocus required
          pInputText [(ngModel)]="heathCheckMonData.url" ngModel />
     </div>


    <div class = "ui-g-2">
          <label>User Name</label>
    </div>
    <div class = "ui-g-3" style="margin-left: -68px">
         <input name="usrNme" type="text" 
          autofocus required
         [disabled]="heathCheckMonData.healthCheckType != 'HTTP' " 
         pInputText [(ngModel)]="heathCheckMonData.user" ngModel />
    </div>

    
    <div class = "ui-g-2">
        <label>Password</label>
  </div>
  <div class = "ui-g-3" style="margin-left: -68px">
       <input name="psswrd" type="password" 
        autofocus required pInputText [disabled]="heathCheckMonData.healthCheckType != 'HTTP' "  [(ngModel)]="heathCheckMonData.pwd" ngModel />
  </div>
 </div>

  <div class = "ui-g-12">
    <p-accordion class="monitor-ui-accordion">
      <p-accordionTab header="Advance Settings">
         <div class = "ui-g-12">
              <p-checkbox [(ngModel)]="heathCheckMonData.overideGlobalSettings"  name="overide" 
                 binary=true label="Override global health check settings"  (click)="overrideGlobalSettings()" ></p-checkbox>
          </div>
          <div class = "ui-g-12" style= "border: 1px solid; margin-top: 10px" [hidden]='heathCheckMonData.healthCheckType != "Ping"'>
              <div class="ui-g-2">
                 <label>Packet Count</label>
             </div>
          <div class = "ui-g-3">
                   <input name="packet" type="number"  pInputText [(ngModel)]="heathCheckMonData.pingPkt" autofocus required ngModel />
                 </div>

                   <div class = "ui-g-2">
                     <label>Wait Interval</label>
                   </div>
                 <div class ="ui-g-3">
                   <input name="interval" type="number"  pInputText [(ngModel)]="heathCheckMonData.pingIntrvl"  ngModel />
                 </div>
                 
             </div>    
             
             <div class = "ui-g-12" style= "border: 1px solid" [hidden]='heathCheckMonData.healthCheckType != "Socket"'>
            
              <div class = "ui-g-2">
                  <label>Instance</label>
                </div>
                <div class ="ui-g-3">
                   <input name="inst" type="text" 
                    pInputText [(ngModel)]="heathCheckMonData.instName"
                     ngModel />
                </div>
      
                <div class = "ui-g-2">
                  <label>Connection Time Out</label>
                </div>
              <div class ="ui-g-3">
                <input name="connectionTimeOut" type="number"  pInputText [(ngModel)]="heathCheckMonData.sockeTo" 
                  ngModel />
              </div>

          </div>     
      
          <div class= "ui-g-12" style= "border: 1px solid" [hidden]='heathCheckMonData.healthCheckType != "HTTP"'>
              <div class="ui-g-1">
                 <label>Proxy URL </label>
              </div>
              <div class ="ui-g-3">
                <input name="url" type="text"  pInputText [(ngModel)]="heathCheckMonData.httpUrl"   ngModel />
              </div>
      
              <div class = "ui-g-1">
                <label>User Name</label>
              </div>
              <div class ="ui-g-3">
                 <input name="usrname" type="text"  pInputText [(ngModel)]="heathCheckMonData.httpUser" 
                   pattern="^[a-zA-Z][a-zA-Z0-9_-]{0,31}$"  ngModel />
              </div>
      
               <div class = "ui-g-1">
                <label>Password</label>
              </div>
              <div class ="ui-g-3">
                 <input name="pswrd" type="password"
                  pInputText [(ngModel)]="heathCheckMonData.httpPwd" 
                   ngModel />
              </div>
    
              <div class = "ui-g-2">
                  <label>Status Code</label>
                </div>
                <div class ="ui-g-3" style="margin-left: -70px;">
                   <input name="statusCode" type="text"  pInputText title="Comma separated list of status code"
                   [(ngModel)]="heathCheckMonData.httpSc" ngModel />
                </div>

                <div class = "ui-g-2">
                    <label>Instance</label>
                  </div>
                  <div class ="ui-g-3" style="margin-left: -70px;">
                     <input name="instnce" type="text"  pInputText  [(ngModel)]="heathCheckMonData.instName"
                       ngModel />
                  </div>
            </div>
          </p-accordionTab>       
        </p-accordion>   
      </div>


      <div class="ui-g-12" style="margin-top: 7px">
          <button type="submit" pButton icon="fa-check" style="width: 63px ; float: right"  *ngIf="!this.editMode" label="Add"></button>
          <button type="submit" pButton icon="fa-check" style="width: 63px ; float: right" *ngIf="this.editMode" label="Update"></button>
      </div>
    </div>
  </p-fieldset>
  </form>

<div class = "ui-g-12" style="margin-top: -3px">
 <p-treeTable  class = "healthChk-treeTable" [value]="heathCheckMonitorData"  selectionMode="single" [(selection)]="selectedFile">
    <p-header class="health-check-mon-header">
        <span >Configured Health Check Monitor Data</span>
     </p-header>

   <p-column field="nodeName" header="Name"></p-column>
   <p-column field="arguments" header="Arguments">
      <template let-col let-data="rowData" pTemplate>
              <p-checkbox *ngIf="data.data['arguments'] == 'false' ||data.data['arguments'] == 'true'|| data.data['arguments'] == false ||data.data['arguments'] == true" 
               [(ngModel)]="data.data.enabled "
               (click)="onCheckBoxChange(data,data.data.enabled)"  binary="false">

              </p-checkbox>   
                <span *ngIf="!(data.data['arguments'] == 'false' ||data.data['arguments'] == 'true' || data.data['arguments'] == false ||data.data['arguments'] == true)" title="{{data.data['arguments']}}">{{data.data['arguments']}}</span>
      </template>
   </p-column>
   
   <p-column [style]="{'width':'100px'}" field="Actions" header="Actions">
      <template  let-data="rowData" pTemplate type="body">
          <a (click)="editHealthMonData(data)">
              <i class="fa fa-pencil" style="color: #2572b5;cursor:pointer; margin-left: 30px" title="Edit Configured Data"></i>
          </a>
            <span  (click)="deleteHealthMonData(data)">
                <i class="fa fa-trash-o" style="color: #f12a2a;cursor:pointer; margin-left: 11px" title="Delete Configured Monitor"></i>
            </span>
      </template>
   </p-column>
</p-treeTable>
</div>
</p-accordionTab>
</p-accordion>
</div>


  <div class="ui-g-12">
    <button type="button" pButton  icon="fa-check" style="float: right" (click)= "finalSubmit()" title="Done" label="Done"></button>
    <button type="button" pButton  icon="fa-close" style="float: right" (click)= "dialogCloseEvent()" label="Cancel" title="Close"></button>
  </div>
</p-dialog>